---
title: Blog
comments: false
suppress_header: true
---

.blog.list
  .wrapper
    .section
      = partial "includes/newsletter-signup.html"

  = partial "includes/blog/list", locals: {articles: blog.articles[0...4]}

  .callout
    %h3
      Try GitLab Enterprise Edition risk-free for 30 days.
    %h4
      No credit card required. Have questions?
      %a.contact{href: "https://about.gitlab.com/sales/"} Contact us.
    %a.btn.btn-lg.btn-red{ href: "/free-trial/" } Get Your Free Trial Today

  = partial "includes/blog/list", locals: {articles: blog.articles[4...8]}

  = partial "includes/blog/install"

  = partial "includes/blog/list", locals: {articles: blog.articles[8...12]}

  .wrapper
    .section
      %a.browse{href: "/blog/archives.html"} Browse the archives
